/* Asigno estilos al login*/

.volver{
    color: white;
    text-decoration:none;
    font-weight: bold;
}
.volver:hover{
    color:#ffc107;
    
}
h6{
    color: white;
    text-align:center;
    padding: 5em;
    font-weight: bold;
}
.texto{
    font-weight: bold;
}

.easignada a{
    text-decoration:none;;
    color: white;
    text-align:center;
    font-weight:bold;
    font-size:19px;
}
.easignada a:hover{
    color: #ffc107;
    transition:0.3s;
}
.easignada{
    margin-top: 5em;
    margin-bottom:5em;
}
.avisita a{
    text-decoration:none;
    color: yellow;
}
.avisita a:hover{
   color: #ffc107;
    transition:0.3s;
}
.ebienvenido a{
    text-decoration:none;;
    color: red;
    text-align:center;

   
}
.ebienvenido a:hover{
    color: #ffc107;
    transition:0.3s;
}
.ebienvenido p{
    font-weight:bold;
}
.binput:hover{
    background:#ffc107;
    border: 1px solid yellow;
    transition:0.3s;
}
.binput{
    display:block;
    margin:auto;
    width:40%;
    font-weight:bold;
    font-size:18px; 
    border:1px solid white;
}


