/* Asigno estilos al login*/

.volver{
    color: white;
    text-decoration:none;
    font-weight: bold;
}
.volver:hover{
    color:blue;
    
}
h5{
    color: white;
    text-align:center;
    padding-top: 5em;
    font-weight: bold;
}
.texto{
    font-weight: bold;
}



/* Asigno estilos al logout