/* Asigno estilos al login*/

.volver{
    color: white;
    text-decoration:none;
    font-weight: bold;
}
.volver:hover{
    color:blue;
    
}
h6{
    color: white;
    text-align:center;
    padding: 5em;
    font-weight: bold;
}
.texto{
    font-weight: bold;
}

.easignada a{
    text-decoration:none;;
    color: white;
    text-align:center;
    font-weight:bold;
    font-size:19px;
}
.easignada a:hover{
    color: #ffc107;
    transition:0.3s;
}
.easignada{
    margin-top: 5em;
    margin-bottom:5em;
}
