.faq{
    background: rgba(0, 0, 0,0.3);
    color: white;
    text-align: center;  
}
.faq:focus{
    background: none;
    box-shadow: none;
    outline: none;
    color: yellow;
}
.faq:hover{
    color: yellow;
}
.alinear{
    text-align: center;
    display: block;
}
.rev{
    color: yellow;
    font-size: bold;
}

