.faq{
    background: rgba(0, 0, 0,0.5);
    color: white;
    text-align: center;  
}
.faq:hover{
    animation:pulsate 1s ease-in-out; 
}
@keyframes pulsate{
    0%{
        box-shadow:
            0 0 10px #ffc107;
    }
}
.faq:focus{
    background: none;
    box-shadow: none;
    outline: none;
    color: #ffc107;
}
.faq:hover{
    color: #ffc107;
}
.alinear{
    text-align: center;
    display: block;
}

.rev{
    color: #ffc107;
    font-size: bold;
}

