/*Para darle transparencia el menu*/
.menu{
    background: rgba(0, 1, 39, 0.9);
}
/*Para hacer el header estatico y bajar el contenido de la pagina*/
body{
    padding-top: 100px;
}
/* para hacer la linea deslizable de los links */
.nav-link {
  
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}