.menu{
    background: rgba(0, 1, 39, 0.5);
  
}
body{
    padding-top: 100px;
}
.nav-link:hover{
    background: rgba(0, 1, 39, 0.5);
    color: blue;
}
.nav-link{
    font-weight: bold;
}
li:hover {
    border-bottom: 1px solid blue;
    border-radius: 5px;
    color: black;
  
}
