.button{
    background: rgba(0, 1, 39, 0.5);
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.button:hover{
    background: rgba(0, 1, 39, 1);
    box-shadow: 0 0 25px rgba(49, 0, 165, 0.5);
}
.informacion{
    background: rgba(0, 1, 39, 0.9);
}
.inicio{
    background: rgba(0, 1, 39, 0.9);
}
.desplegable{
    background: rgba(0, 1, 39, 0.3);
}
.card{
    background: rgba(0, 1, 39, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
.card p{
    font-weight: bold;
    line-height: 30px;
}
.foto-equipo{
    width: 50%;
}
#learn{
    background: rgba(0, 1, 39, 0.9);
}