#menuBotones h1 {
    text-align: center;
    
}

#menuBotones table {
    border-spacing: 12px;
    margin: auto;
}

#menuBotones td {
    background-color: #053041;
    margin-bottom: 1000px;
    border-radius: 3px;
}
#menuBotones td:hover{
    background: #0069f8;
}

#ofertas a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    

  
}
#ofertas a:hover{
    color: #0069f8;
}

.botonOfertas {
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
}


#oferas:after {
    content: "";
    display: table;
    clear: both;
}


.cards{
    background: rgba(0, 1, 39, 0.9);
    color: white;
}
