.imgg{
    height:450px;
    width: 70%;
    display:block;
    margin:auto;
}
.carousel-item{
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
 
}
.carousel{
    margin-bottom: 2em;
}

.text {
    position: absolute;    /* posición absolute con respecto al padre */
    bottom: 0;
    left: 0;             /* posicionada en la esquina inferior derecha */ 
}
.aqs{
    background:none;
    color: #ffc107;
    text-decoration:none;
}
.aqs:hover{
    background:none;
    color: #ffc107;
    letter-spacing:1px;
    transition:0.3s;

}

