.img{
    height: 500px;
    width: 75%;
    display:block;
margin:auto;
}


.carousel-item{
    position: relative;
    margin-top: 5%;
 
}


.text {
    position: absolute;    /* posición absolute con respecto al padre */
    bottom: 0;
    left: 0;             /* posicionada en la esquina inferior derecha */
    right: 1rem;
 
    
  }