*{
    margin: 0;
    padding: 0;
}


body {
    background-color:#e9e9e9;
    background-image: url("pa.png");
    background-repeat:no-repeat;
    background-position-x:50%;
    background-position-y:14cm;
    background-size: 10rem;
  }


h1[class="header"]{
    background: -webkit-linear-gradient(90deg, black 10%, #053041 90%);
    color: white;
    font-family: arial;
    text-align: center;
    padding: 15px;
}

span[class="bienvenido"]{
    font-family: arial;
    font-size: 25px;
    text-align: center;
    width: 100%;
    padding: 15px;
    display: block;
}


table[class="header"]{
  
    text-align: center;
    margin: auto;
    width: 25%
}

td[class="header"]{
    padding: 15px;
    border: 1px solid black;


}
a[class="header"]{
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
    color: black;
}
a[class="header"]:hover{
    color: white;
}

.header td:hover{
    background-color: #c1c1c1;
    transition: all 0.01s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
  }